@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.StoreClosed").Text);
}
    <div class="page-header page-header-custom">
        <h3 class="text-center">@T("StoreClosed")</h3>
    </div>
    <div class="page-body">
        @T("StoreClosed.Hint")
    </div>
