@using Nop.Core.Infrastructure
@using Nop.Services.Helpers
@{
    var dateTimeHelper = EngineContext.Current.Resolve<IDateTimeHelper>();
}
<div class="row marginTop20">
    <div class="col-sm-4">
        @Html.Partial("_SearchBox")
    </div>
    <div class="col-sm-8 text-right">
        @dateTimeHelper.ConvertToUserTime(DateTime.UtcNow).ToString("F")
    </div>
</div>