@model IList<VendorModel>
@using Nop.Web.Models.Catalog;
@if (Model.Count > 0)
{
    <li>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            @T("Vendors")
            &nbsp;<i class="fa fa-angle-down"></i>
            &nbsp;<i class="fa fa-angle-right"></i>
        </a>
        <ul class="dropdown-menu">
        @foreach (var vendor in Model)
        {
            <li>
                <a href="@Url.RouteUrl("Vendor", new { SeName = vendor.SeName })">@vendor.Name</a>
            </li>
        }
        </ul>
    </li>
}
