@model ProductDetailsModel.AddToCartModel
@using Nop.Web.Models.Catalog;
@using Nop.Core.Domain.Orders;
@if (!Model.DisableWishlistButton && Model.UpdatedShoppingCartItemId == 0)
{
        <button id="add-to-wishlist-button-@Model.ProductId" class="btn btn-default"  data-productid="@Model.ProductId" onclick="AjaxCart.addproducttocart_details('@Url.RouteUrl("AddProductToCart-Details", new { productId = Model.ProductId, shoppingCartTypeId = (int)ShoppingCartType.Wishlist })', '#product-details-form');return false;" ><i class="glyphicon glyphicon-heart"></i> @T("ShoppingCart.AddToWishlist")</button>
}